@use "./mixins" as *;

.sidebar {
  width: 100%;
  background-color: #fefefe;
  box-shadow: 0 0.3125rem 1.25rem #0000000a;
  height: 100vh;
  overflow-y: auto;
  padding-block: 2.4375rem;
  display: flex;
  flex-direction: column;
  padding-top: 8.6875rem;

  &::-webkit-scrollbar {
    width: 0;
  }

  &:hover {
    &::-webkit-scrollbar {
      width: 0.1875rem;
    }
  }

  @include breakpoint("md") {
    scrollbar-width: none;
    padding-top: 2.4375rem;

    &:hover {
      scrollbar-width: none;
    }
  }
}

.sidebarContent {
  display: flex;
  flex-direction: column;
}

.switchOrg {
  display: flex;
  align-items: center;
  gap: 0.625rem;
  font-size: 1rem;
  color: #213f7d;
  cursor: pointer;
  padding-left: 1.875rem;
  margin-bottom: 2.5rem;

  svg {
    width: 1.25rem;
    height: 1.25rem;
    color: #213f7d;
  }
}

.dashboard {
  display: flex;
  gap: 0.625rem;
  align-items: center;
  padding-left: 1.875rem;
  opacity: 0.6;
  height: 2.5rem;
  margin-bottom: 1.875rem;

  span {
    color: #213f7d;
    font-weight: 400;
    font-size: 1rem;
    line-height: 100%;
    cursor: pointer;

    &:hover {
      color: #00c4b4;
    }
  }
}

.listContainer {
  display: flex;
  flex-direction: column;
  gap: 1.875rem;
}

.section {
  h3 {
    font-size: 0.75rem;
    font-weight: 500;
    color: #545f7d;
    text-transform: uppercase;
    margin-bottom: 0.625rem;
    margin-left: 1.875rem;
  }

  ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    gap: 0.625rem;

    li {
      display: flex;
      align-items: center;
      gap: 0.625rem;
      height: 2.5rem;
      width: 100%;
      font-size: 1rem;
      color: #213f7d;
      cursor: pointer;
      padding-left: 1.875rem;
      opacity: 0.6;

      &:hover {
        color: #00c4b4;
      }
    }

    .selected {
      background-color: #39cdcc06;
      border-left: 0.1875rem solid #39cdcc;
      padding-left: 1.6875rem;
      opacity: 1;
    }
  }
}

.logout {
  padding-left: 1.875rem;
  padding-top: 1.25rem;
  margin-top: 3.75rem;
  display: flex;
  align-items: center;
  gap: 0.625rem;
  font-size: 1rem;
  color: #213f7d;
  cursor: pointer;
  border-top: 0.0625rem solid #213f7d10;
  width: 100%;
}

.mobileNavLogoContainer {
  display: none;
  justify-content: space-between;
  align-items: center;
  padding-inline: 1.5rem;
  padding-bottom: 2.5rem;

  div {
    cursor: pointer;
  }

  @include breakpoint("md") {
    display: flex;
  }
}
